{% extends 'starter.html' %}
{% load static %}

{% block title %} - Personnel{% endblock %}
{% block header %}
Personnel
{% endblock %}
{% block level %}
Tableau de bord
{% endblock %}
{% block h %}
    <style>
        .wrapper4444 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 400px 700px;
            gap: 10px;
        }

        .box14444 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .box24444 {
            grid-column: 3 / 5;
            grid-row: 1 / 2;
        }

        .box34444 {
            grid-row: 2 / 3;
            grid-column: 1 / 5;
        }
        .wrapper3333 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 400px;
            gap: 10px;
        }

        .box13333 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .box23333 {
            grid-column: 2 / 3;
            grid-row: 1;
        }

        .wrapper2222 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 400px 700px;
            gap: 10px;
        }

        .box12222 {
            grid-row: 1 / 2;
            grid-column: 3 / 6;
        }

        .box22222 {
            grid-row: 2 / 3;
            grid-column: 1 / 6
        }

        .box32222 {
            grid-row: 1 / 2;
            grid-column: 1 / 3
        }

        .wrapper5555 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
        }

        .box15555 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        .box25555 {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        .box35555 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        .wrapper6666 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 10px;
        }

        .box16666 {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row: 1;
        }

        .box26666 {
            grid-column: 4 / 6;
            grid-row: 1;
        }
        
    </style>
{% endblock %}
{% block content %}
<div class="wrapper4444">
    <div class="box14444">
        <canvas id="chart1"></canvas>
        <label for="chart1type">Chart Type:</label>
        <select id="chart1type" name="charts1" onchange="updateChart1Type()">
            <option value="pie" selected="True">PieChart</option>
            <option value="line">LineChart</option>
            <option value="bar">BarChart</option>
        </select>
    </div>
    <div class="box24444">
        <canvas id="chart2"></canvas>
        <label for="chart2type">Chart Type:</label>
        <select id="chart2type" name="charts2" onchange="updateChart2Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
    <div class="box34444">
        <canvas id="chart3"></canvas>
        <label for="chart3type">Chart Type:</label>
        <select id="chart3type" name="charts3" onchange="updateChart3Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
</div>
<div class="wrapper3333">
    <div class="box13333">
        <canvas id="chart4"></canvas>
        <label for="chart4type">Chart Type:</label>
        <select id="chart4type" name="charts4" onchange="updateChart4Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
    <div class="box23333">
        <canvas id="chart5"></canvas>
        <label for="chart5type">Chart Type:</label>
        <select id="chart5type" name="charts5" onchange="updateChart5Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
</div>

<div class="wrapper2222">
    <div class="box22222">
        <canvas id="chart6"></canvas>
        <label for="chart6type">Chart Type:</label>
        <select id="chart6type" name="charts6" onchange="updateChart6Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
    <div class="box12222">
        <canvas id="chart7"></canvas>
        <label for="chart7type">Chart Type:</label>
        <select id="chart7type" name="charts7" onchange="updateChart7Type()">
            <option value="pie" selected="True">PieChart</option>
            <option value="line">LineChart</option>
            <option value="bar">BarChart</option>
        </select>
    </div>
    <div class="box32222">
        Legende pour nature agent:<br><br>
        <ul>
            {% for i,j in labelsNatureagent2 %}
                <li>{{i}} : {{j}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="wrapper5555">
    <div class="box15555">
        <canvas id="chart8"></canvas>
    </div>
    <div class="box25555">
        <canvas id="chart9"></canvas>
        <label for="chart9type">Chart Type:</label>
        <select id="chart9type" name="charts9" onchange="updateChart9Type()">
            <option value="line">LineChart</option>
            <option value="bar">BarChart</option>
        </select>
    </div>
    <div class="box35555">
        <canvas id="chart10"></canvas>
        <label for="chart10type">Chart Type:</label>
        <select id="chart10type" name="charts10" onchange="updateChart10Type()">
            <option value="line">LineChart</option>
            <option value="bar">BarChart</option>
        </select>
    </div>
</div>
<br><br>
<div class="wrapper6666">
    <div class="box16666">
        <canvas id="chart11"></canvas>
        <label for="chart11type">Chart Type:</label>
        <select id="chart11type" name="charts11" onchange="updateChart11Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
    <div class="box26666">
        <br><br><br>
        <canvas id="chart12"></canvas>
        <label for="chart12type">Chart Type:</label>
        <select id="chart12type" name="charts12" onchange="updateChart12Type()">
            <option value="bar">BarChart</option>
            <option value="line">LineChart</option>
        </select>
    </div>
</div>


<br/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
  <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>

  <script>
    
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data1|safe }},
          label: 'Nombre du personnel'
          
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        title: {
            display: true,
            text: 'Nombre du personnel par direction'
        },
        plugins: {
            colorschemes: {
                scheme: 'tableau.HueCircle19'
            }, 
        
        }
      }
    };



    var ctx = document.getElementById('chart1').getContext('2d');
    myChart = new Chart(ctx, config);
    function updateChart1Type() {
                // Destroy the previous chart
				myChart.destroy();
                // Draw a new chart on the basic of dropdown
				myChart = new Chart(ctx, {
					type: document.getElementById("chart1type").value,  // Select chart type from dropdown
					data: config.data,
                    options: {title:{
                        display: true,
                        text: 'Nombre du personnel par direction'
                    }}
				});
			};


    var data2 = {
        labels: {{ labels|safe }},
        datasets: [
            {
            label: 'Femmes',
            data: {{dataDirectionF|safe}},
            backgroundColor: 
            'rgba(255, 99, 132, 0.8)',
            borderColor: 'rgb(255, 99, 132)',
            
            },
            {
            label: 'Hommes',
            data:  {{dataDirectionM|safe}},
            backgroundColor: 
            
            'rgba(54, 162, 235, 0.8)',
            borderColor:
            'rgb(54, 162, 235)',
            }
            ]
    };



    var config2 = {
        type: 'bar',
        data: data2,
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sexe du personnel par direction'
            },
            plugins: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        },
    };

      var ctx2 = document.getElementById('chart2').getContext('2d');
      myChart2 = new Chart(ctx2, config2);
    

      function updateChart2Type() {
                // Destroy the previous chart
				myChart2.destroy();
                // Draw a new chart on the basic of dropdown
				myChart2 = new Chart(ctx2, {
					type: document.getElementById("chart2type").value,  // Select chart type from dropdown
					data: config2.data,
                    options: config2.options
				});
			};

    var data3 = {
        labels: {{ labels|safe }},
        datasets: [
            {
            label: 'Cadre dans Direction',
            data: {{dataDirectionCadre|safe}},
            backgroundColor: 
            'rgba(255, 99, 132, 0.8)',
            borderColor:
            'rgb(255, 99, 132)',
            },
            {
            label: 'Agent Maitrise dans Direction',
            data:  {{dataDirectionMaitrise|safe}},
            backgroundColor: 
            
            'rgba(54, 162, 235, 0.8)',
            borderColor:
            'rgb(54, 162, 235)',
            },

            {
            label: 'Agent Execution dans Direction',
            data:  {{dataDirectionExecution|safe}},
            backgroundColor: 
            
            'rgba(255, 205, 86, 0.8)',
            borderColor:
            'rgb(255, 205, 86)',
            },  
            {
            label: 'Agent Execution_Maitrise dans Direction',
            data:  {{dataDirectionExecution_Maitrise|safe}},
            backgroundColor: 
            
            'rgba(25, 20, 86, 0.8)',
            borderColor:
            'rgb(25, 20, 86)',
            },  


        ]
    };



var config3 = {
      type: 'bar',
      data: data3,
      options: {
        responsive: true,
        title: {
                display: true,
                text: 'Catégorie du personnel par direction'
            },
        plugins: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
      }
    };

      var ctx3 = document.getElementById('chart3').getContext('2d');
      myChart3 = new Chart(ctx3, config3);
    

      function updateChart3Type() {
                // Destroy the previous chart
				myChart3.destroy();
                // Draw a new chart on the basic of dropdown
				myChart3 = new Chart(ctx3, {
					type: document.getElementById("chart3type").value,  // Select chart type from dropdown
					data: config3.data,
                    options: config3.options
				});
			};


    var data4 = {
  labels: {{ labelsCategorie|safe }},
  datasets: [
    {
      label: 'Actif',
      data: {{dataActif|safe}},
      backgroundColor: 
      'rgba(255, 99, 132, 0.8)',
      borderColor:
      'rgb(255, 99, 132)',
    },
    {
      label: 'Inactif temporaire',
      data:  {{datainactif_Temporaire|safe}},
      backgroundColor: 
      
      'rgba(54, 162, 235, 0.8)',
      borderColor:
      'rgb(54, 162, 235)',
    },

    {
      label: 'Inactif',
      data:  {{dataInactif|safe}},
      backgroundColor: 
      
      'rgba(255, 205, 86, 0.8)',
      borderColor:
      'rgb(255, 205, 86)',
    },  
     


    ]
};



var config4 = {
      type: 'bar',
      data: data4,
      options: {
        responsive: true,
        title: {
                display: true,
                text: 'Etat du personnel par catégorie'
            },
      }
    };

      var ctx4 = document.getElementById('chart4').getContext('2d');
      myChart4 = new Chart(ctx4, config4);
    

      function updateChart4Type() {
                // Destroy the previous chart
				myChart4.destroy();
                // Draw a new chart on the basic of dropdown
				myChart4 = new Chart(ctx4, {
					type: document.getElementById("chart4type").value,  // Select chart type from dropdown
					data: config4.data,
                    options: config4.options
				});
			};


    var data5 = {
  labels: {{ labelsCategorie|safe }},
  datasets: [
    {
      label: 'Gestion',
      data: {{dataGestion|safe}},
      backgroundColor: 
      'rgba(255, 99, 132, 0.8)',
      borderColor:
      'rgb(255, 99, 132)',
    },
    

    {
      label: 'Technique',
      data:  {{dataTechnique|safe}},
      backgroundColor: 
      
      'rgba(54, 162, 235, 0.8)',
      borderColor:
      'rgb(54, 162, 235)',
    },  
     


    ]
};



var config5 = {
      type: 'bar',
      data: data5,
      options: {
        responsive: true,
        title: {
                display: true,
                text: 'Profil du personnel par catégorie'
            },
      }
    };

      var ctx5 = document.getElementById('chart5').getContext('2d');
      myChart5 = new Chart(ctx5, config5);
    

      function updateChart5Type() {
                // Destroy the previous chart
				myChart5.destroy();
                // Draw a new chart on the basic of dropdown
				myChart5 = new Chart(ctx5, {
					type: document.getElementById("chart5type").value,  // Select chart type from dropdown
					data: config5.data,
                    options: config5.options
				});
			};

    var data6 = {
  labels: {{ labelsNatureagent|safe }},
  datasets: [
    {
      label: 'Cadre',
      data: {{dataNatureagentCadre|safe}},
      backgroundColor: 
      'rgba(255, 99, 132, 0.8)',
      borderColor:
      'rgb(255, 99, 132)',
    },
    {
      label: 'Maitrise',
      data:  {{dataNatureagentMaitrise|safe}},
      backgroundColor: 
      
      'rgba(54, 162, 235, 0.8)',
      borderColor:
        'rgb(54, 162, 235)',
    },

    {
      label: 'Execution',
      data:  {{dataNatureagentExecution|safe}},
      backgroundColor: 
      
      'rgba(255, 205, 86, 0.8)',
      borderColor:
        'rgb(255, 205, 86)',
    },  

    {
      label: 'Execution_Maitrise',
      data:  {{dataNatureagentExecution_Maitrise|safe}},
      backgroundColor: 
      
      'rgba(25, 20, 86, 0.8)',
      borderColor:
        'rgb(25, 20, 86)',
    },  
     


    ]
};



var config6 = {
      type: 'bar',
      data: data6,
      options: {
        responsive: true,
        title: {
                display: true,
                text: 'Nature-agent du personnel par catégorie'
            },
      }
    };

      var ctx6 = document.getElementById('chart6').getContext('2d');
      myChart6 = new Chart(ctx6, config6);
    

      function updateChart6Type() {
                // Destroy the previous chart
				myChart6.destroy();
                // Draw a new chart on the basic of dropdown
				myChart6 = new Chart(ctx6, {
					type: document.getElementById("chart6type").value,  // Select chart type from dropdown
					data: config6.data,
                    options: config6.options
				});
			};

    var config7 = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ dataNatureagent|safe }},
          label: 'Nombre du personnel'
        }],
        labels: {{ labelsNatureagent|safe }}
      },
      options: {
        responsive: true,
        title: {
            display: true,
            text: 'Nombre du personnel par nature-agent'
        },
        plugins: {
            colorschemes: {
                scheme: 'tableau.HueCircle19'
            },
            scales: {
      y: {
        beginAtZero: false
      }
    }
        }
      }
    };


      var ctx7 = document.getElementById('chart7').getContext('2d');
      myChart7 = new Chart(ctx7, config7);
    

      function updateChart7Type() {
                // Destroy the previous chart
				myChart7.destroy();
                // Draw a new chart on the basic of dropdown
				myChart7 = new Chart(ctx7, {
					type: document.getElementById("chart7type").value,  // Select chart type from dropdown
					data: config7.data,
                   options: {title:{
                        display: true,
                        text: 'Nombre du personnel par nature-agent'
                    }}
				});
			};

    var config8 = {
        type: 'bar',
        data: {
            datasets: [
                {% for i, j in data_list %}
                    {
                        label: "{{j}}",
                        data: {{ i|safe }}
                    },
                {% endfor %}
            ],
            labels: {{ labelsYear|safe }}
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true // this should be set to make the bars stacked
                }],
                yAxes: [{
                    stacked: true // this also..
                }],
            },
            title: {
                display: true,
                text: 'Prévision des retraites par catégorie professionnelle',
                
            },
            
        }
    };


    var ctx8 = document.getElementById('chart8').getContext('2d');
    myChart8= new Chart(ctx8, config8);


    var config9 = {
        type: 'line',
        data: {
            datasets: [
            {
                label: "Retraite",
                data: {{ totalretr|safe }}
            },
            ],
            labels: {{ labelsYear|safe }}
        },
        options: {
            responsive: true,
        }
    };


    var ctx9 = document.getElementById('chart9').getContext('2d');
    myChart9 = new Chart(ctx9, config9);

    function updateChart9Type() {
                // Destroy the previous chart
				myChart9.destroy();
                // Draw a new chart on the basic of dropdown
				myChart9 = new Chart(ctx9, {
					type: document.getElementById("chart9type").value,  // Select chart type from dropdown
					data: config9.data,
                    options: config9.options
				});
			};

    var config10 = {
        type: 'line',
        data: {
            datasets: [
                    {
                        label: "Recrutement",
                        data: {{ totalrecr|safe }}
                    },
            ],
            labels: {{ labels2|safe }}
        },
        options: {
            responsive: true,
        }
    };


    var ctx10 = document.getElementById('chart10').getContext('2d');
    myChart10 = new Chart(ctx10, config10);

    function updateChart10Type() {
                // Destroy the previous chart
				myChart10.destroy();
                // Draw a new chart on the basic of dropdown
				myChart10 = new Chart(ctx10, {
					type: document.getElementById("chart10type").value,  // Select chart type from dropdown
					data: config10.data,
                    options: config10.options
				});
			};

    var config11 = {
        type: 'bar',
        data: {
            datasets: [
                {
                    label: "Cadre",
                    data: {{ dataCadre|safe }},
                    backgroundColor: 
                    'rgba(255, 99, 132, 0.8)',
                    borderColor: 'rgb(255, 99, 132)',
                },
                {
                    label: "Maitrise",
                    data: {{ dataMaitrise|safe }},
                    backgroundColor: 
                    'rgba(54, 162, 235, 0.8)',
                    borderColor: 'rgb(54, 162, 235)',
                },
                {
                    label: "Execution",
                    data: {{ dataExecution|safe }},
                    backgroundColor: 
                    
                    'rgba(255, 205, 86, 0.8)',
                    borderColor: 'rgb(255, 205, 86)',
                },
                {
                    label: "Execution_maitrise",
                    data: {{ dataExecutionMaitrise|safe }},
                    backgroundColor: 
                    
                    'rgba(25, 20, 86, 0.8)',
                    borderColor: 'rgb(25, 20, 86)',
                },
            ],
            labels: {{ labels2|safe }}
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true // this should be set to make the bars stacked
                }],
                yAxes: [{
                    stacked: true // this also..
                }],
            },
            title: {
                display: true,
                text: 'Récrutements par catégorie',
                
            },
            
        }
    };


    var ctx11 = document.getElementById('chart11').getContext('2d');
    myChart11= new Chart(ctx11, config11);

    function updateChart11Type() {
                // Destroy the previous chart
				myChart11.destroy();
                // Draw a new chart on the basic of dropdown
				myChart11 = new Chart(ctx11, {
					type: document.getElementById("chart11type").value,  // Select chart type from dropdown
					data: config11.data,
                    options: config11.options
				});
			};

    var config12 = {
        type: 'bar',
        data: {
            datasets: [
                {
                    label: 'Cadre',
                    data: {{ cadre|safe }},
                    backgroundColor: 
                    'rgba(255, 99, 132, 0.8)',
                    borderColor: 'rgb(255, 99, 132)',
                },
                {
                    label: 'Maitrise',
                    data: {{ maitr|safe }},
                    backgroundColor: 
                    'rgba(54, 162, 235, 0.8)',
                    borderColor: 'rgb(54, 162, 235)',
                },
                {
                    label: 'Execution',
                    data: {{ exec|safe }},
                    backgroundColor: 
                    
                    'rgba(255, 205, 86, 0.8)',
                    borderColor: 'rgb(255, 205, 86)',
                },
                {
                    label: 'Execution_Maitrise',
                    data: {{ exec_maitr|safe }},
                    backgroundColor: 
                    
                    'rgba(25, 20, 86, 0.8)',
                    borderColor: 'rgb(25, 20, 86)',
                }
            ],
            labels: {{ labelsAnc|safe }}
        },
        options: {
            responsive: true,
            
            title: {
                display: true,
                text: 'Ancienneté par catégorie',
                
            },
        }
    };


    var ctx12 = document.getElementById('chart12').getContext('2d');
    myChart12 = new Chart(ctx12, config12);

    function updateChart12Type() {
                // Destroy the previous chart
				myChart12.destroy();
                // Draw a new chart on the basic of dropdown
				myChart12 = new Chart(ctx12, {
					type: document.getElementById("chart12type").value,  // Select chart type from dropdown
					data: config12.data,
                    options: config12.options
				});
			};
    
  </script>
  {% endblock %}