{% extends 'starter.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} - Liste des congés{% endblock %}
{% block h %}
    <style>
    .addNewRecord {
        background-color: #3c8dbc !important;
        color: #ffffff !important;
        margin: 5px 5px 5px 5px;
    }
    td{
        text-align:center;
    }
    th{
        text-align:center;
    }
    #edit {background-color: #3c8dbc;}
    #delete {background-color: #6F8FAF;}
    #fdp {background-color: #6082B6	;}
    .button {
        padding: 8px 8px 8px 8px;
        border-radius: 3px;
    }   
    .wrapper3333 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
        }

        .box13333 {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .box23333 {
            grid-column: 2 / 3;
        }
        .box33333 {
            grid-column: 3 / 4;
        }

        .box43333 {
            grid-column: 4 / 5;
        }
    </style>
    {% bootstrap_javascript jquery='full' %}

    {{ conge_Filter.form.media }}
{% endblock %}
{% block header %}
Liste des congés
{% endblock %}
{% block level %}
Gestion des congés
{% endblock %}
{% block status_LC %}"active"{% endblock %}
{% block content %}

<a href="{% url 'create_Conge' %}" class="button" style="background-color: #3c8dbc; color: #ffffff;">+ Ajouter</a><br /><br />

<form method="GET" enctype="multipart/form-data">
    {% csrf_token %}
    <div class = "wrapper3333">
    <div class = "box13333">
    {% bootstrap_field conge_Filter.form.cong_mat_95 %}
    </div>
    <div class = "box23333">
    {% bootstrap_field conge_Filter.form.cong_nat_9 %}
    </div>
    <div class = "box33333">
    {% bootstrap_field conge_Filter.form.cong_date_deb %}
    </div>
    <div class = "box43333">
    {% bootstrap_field conge_Filter.form.cong_date_fin %}
    </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form><br /><br />
<div><table id="conge" class="table">
    <thead style="background-color: #3c8dbc; color: white;">
        <tr>
            <th scope="col" style="text-align: center;">Matricule</th>
            <th scope="col" style="text-align: center;">Nature congé</th>
            <th scope="col" style="text-align: center;">Ancien solde</th>
            <th scope="col" style="text-align: center;">Nombre jours</th>
            <th scope="col" style="text-align: center;">Nouveau solde</th>
            <th scope="col" style="text-align: center;">Date début</th>
            <th scope="col" style="text-align: center;">Periode début</th>
            <th scope="col" style="text-align: center;">Date fin</th>
            <th scope="col" style="text-align: center;">Periode fin</th>
            <th scope="col" style="text-align: center;">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for c in Cong_list %}
        <tr>
            <td><a href="{% url 'pers_cong_detail_view' c.cong_mat_95 c.index_pk %}" type="button"
                    class="btn btn-secondary">{{c.cong_mat_95}}</a></td>
            {% if c.cong_nat_9 == 3 %} 
                <td>Exceptionnel</td>
            {% elif c.cong_nat_9 == 1 %}
                <td>Annuel</td>
            {% elif c.cong_nat_9 == 2 %}
                <td>Recuperation</td>
            {% else %}
                <td>{{c.cong_nat_9}}</td>
            {% endif %}
            <td>{{c.cong_ancsold_93}}</td>
            <td>{{c.cong_nbrjour_93}}</td>
            <td>{{c.cong_novsold_93}}</td>
            <td>{{c.cong_date_deb}}</td>
            <td>{{c.cong_perdeb_x}}</td>
            <td>{{c.cong_date_fin}}</td>
            <td>{{c.cong_perfin_x}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'update_Conge' c.index_pk %}" id="edit" class="button"><i><img src="{% static 'image/modifier.png' %}" class="removeImage" alt="Remove this image" /></i></a>
                    <a href="{% url 'delete_Conge' c.index_pk %}" id="delete" class="button"><i><img src="{% static 'image/delete.png' %}" class="removeImage" alt="Remove this image" /></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table></div>


{% endblock %}
{% block js %}

<script src="https://ajax.googleapis.com/ajax/Libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.0/af-2.4.0/b-2.2.3/b-colvis-2.2.3/cr-1.5.6/fh-3.2.3/rr-1.2.8/sc-2.0.6/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.0/af-2.4.0/b-2.2.3/b-colvis-2.2.3/cr-1.5.6/fh-3.2.3/rr-1.2.8/sc-2.0.6/datatables.min.js"></script>


<script>
   $(document).ready( function(){
    $('#conge').DataTable({
        dom: 'B<"clear">lfrtip',
        colReorder: true,
        buttons: [
            {
                extend: 'colvis',
                collectionLayout: 'fixed columns',
                collectionTitle: 'Contrôle de la visibilité des colonnes',
                className: "addNewRecord",
                text: "Visibilité des colonnes"
            }
        ],
        bFilter: false,
        "language": {
            "lengthMenu": "Afficher _MENU_ records par page",
            "info": "Page _PAGE_ de _PAGES_",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
        },
        columns: [
            null,
            { orderable: false },
            null,
            null,
            null,
            { orderable: false },
            { orderable: false },
            { orderable: false },
            { orderable: false },
            { orderable: false },
        ]
        
    });
   });
</script>
{% endblock %}