{% extends 'starter.html' %}
{% load static %}
{% block h %}
    <style>
    td{
        text-align:center;
    }
    th{
        text-align:center;
    }
    #edit {background-color: #3c8dbc;}
    #delete {background-color: #6F8FAF;}
    .button {
        padding: 8px 8px 8px 8px;
        border-radius: 3px;
    }   
    </style>
{% endblock %}
{% block title %} - Détails personnel{% endblock %}
{% block header %}
Détails personnel
{% endblock %}
{% block level %}
Gestion de personnel
{% endblock %}

{% block content %}

<table class="table">
    <thead style="background-color: #3c8dbc; color: white;">
        <tr>
            <th scope="col">Matricule</th>
            <th scope="col">Date récrutement</th>
            <th scope="col">Date naissance</th>
            <th scope="col">Direction</th>
            <th scope="col">Nature agent</th>
            <th scope="col">Qualification</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Nature</th>
            <th scope="col">Sexe</th>
            <th scope="col">Etat</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'view_pers_paie' p.matricule.pers_mat_95 %}" type="button"
                    class="btn btn-secondary">{{p.matricule.pers_mat_95}}</a></td>
            <td>{{p.matricule.pers_date_rec}}</td>
            <td>{{p.matricule.pers_date_nais}}</td>
            <td>{{p.matricule.pers_affect_92.code_direction}}</td>
            <td>{{p.matricule.pers_naturagent_93.natag_code_93}}</td>
            <td>{{p.matricule.pers_qualif_x45}}</td>
            {% if p.matricule.pers_catpers_9 == 1 %} 
                <td>Execution</td>
            {% elif p.matricule.pers_catpers_9 == 2 %}
                <td>Maitrise</td>
            {% elif p.matricule.pers_catpers_9 == 4 %}
                <td>Cadre</td>
            {% elif p.matricule.pers_catpers_9 == 5 %}
                <td>Execution-maitrise</td>
            {% else %}
                <td>{{p.matricule.pers_catpers_9}}</td>
            {% endif %}
            {% if p.matricule.pers_natpers_9 == 1 %} 
                <td>Gestion</td>
            {% elif p.matricule.pers_natpers_9 == 2 %}
                <td>Technique</td>
            {% elif p.matricule.pers_natpers_9 == 3 %}
                <td>Gestion</td>
            {% else %}
                <td>{{p.matricule.pers_natpers_9}}</td>
            {% endif %}
            <td>{{p.matricule.pers_sexe_x}}</td>
            {% if p.matricule.pers_cet_9 == 0 %} 
                <td>Actif</td>
            {% elif p.matricule.pers_cet_9 == 1 %}
                <td>Inactif temporiare</td>
            {% elif p.matricule.pers_cet_9 == 2 %}
                <td>Inactif</td>
            {% else %}
                <td>{{p.matricule.pers_cet_9}}</td>
            {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'update_Personnel' p.matricule.pers_mat_95 %}" id="edit" class="button"><i><img src="{% static 'image/modifier.png' %}" class="removeImage" alt="Remove this image" /></i></a>
                    <a href="{% url 'delete_Personnel' p.matricule.pers_mat_95 %}" id="delete" class="button"><i><img src="{% static 'image/delete.png' %}" class="removeImage" alt="Remove this image" /></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
