{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Réinitialisation du mot de passe</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/my-login.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'image/ETAP_logo_transparent.png' %}"/>
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'image/ETAP_logo_transparent.png' %}" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">E-mail de réinitialisation du mot de passe envoyé</h4>
							<div>

                                <div>
                                    <p>
                                        Nous vous avons envoyé par e-mail des instructions pour réinitialiser votre mot de passe, si un compte existe avec l'e-mail
                                        vous avez entré,
                                        Vous devriez le recevoir prochainement.
                                    </p>
                                    <p>
                                        Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit,
                                        et vérifiez votre dossier spam.
                                    </p>
                                    <p><a class="btn btn-primary btn-block btn-flat" style="background-color: #11a2bd; border-color: #11a2bd;" href="{% url 'login_user' %}">Revenir à la page de connexion</a></p>
                                </div>
                            </div>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2022 &mdash; ETAP 
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="{% static 'login/js/my-login.js' %}"></script>
</body>
</html>